/**
 * Category colors
 */

.timeline-img.blue {
    background: #11E3FF;
}
.timeline-img.green {
    background: #43FE00;
}
.timeline-img.red {
    background: #FE2777;
}
.timeline-img.yellow {
    background: #FFBB07;
}
.timeline-img.blue {
    background: #2934d4;
}
.timeline-img.blue {
    background: #2934d4;
}

