/**
 * Category colors
 */

.timeline-img.blue {
    background: #1389ba;
}
.timeline-img.green {
    background: #89ba13;
}
.timeline-img.red {
    background: #ba1389;
}
.timeline-img.yellow {
    background: #e46e1a;
}
