/**
 * Category colors
 */

.timeline-img.blue {
    background: #333;
}
.timeline-img.green {
    background: #333;
}
.timeline-img.red {
    background: #333;
}
.timeline-img.yellow {
    background: #333;
}
.timeline-img.white {
    background: #333;
}
.timeline-img.black {
    background: #333;
}
