/**
 * Category colors
 */

.timeline-img.blue {
    background: #34a4c0;
}
.timeline-img.green {
    background: #70d4b0;
}
.timeline-img.red {
    background: #f2c7ec;
}
.timeline-img.yellow {
    background: #e7df00;
}
