/**
 * Quiz CSS file.
 * Mainly for layout.
 */

@import url(switch.css);

@charset "UTF-8";

html {
    line-height: 1.6;
}

body {
    margin: 0 auto;
    font-size: 100%;
}

.shadow {
    box-shadow: 0 5px 15px #ababab;
}

.correct {
    background: #b3d8a6;
}

.incorrect {
    background: #c6463d;
}

#quizbox {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    height: 95%;
    position: fixed;
    background: white;
    border-radius: 0.25em;
    padding: 20px;
}

#curtain {
    display: none;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position:fixed;
    width: 68%;
    height: 93%;
    z-index: 10;
}

#curtain span {
    color: white;
    display: block;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
}

#curtain h1 {
    font-size: 3em;
    color: white;
    text-align: center;
}

#quizbox ul {
    list-style: none;
    padding: 0;
}

#quizbox input[type="button"],
#quizbox input[type="submit"] {
    height: 3em;
    margin: 5px 0px;
    width: 100%;
    font-size:1em;
    background: #f4f9fb;
    border: 1px solid #f7fbfc;
    border-radius: 0.25em;
    box-shadow: 0 1px 3px #ababab;
}

#quizbox form fieldset {
    border: none;
}

#quizlegend {
    font-size: 1.1em;
    padding-bottom: 10px;
    display: block;
}

#quizbox img.quizimage {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#quizbox li.question .questiontext {
    font-weight: bold;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
}

#quizbox li.question .alternatives {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

#quizbox li.question li {
    margin-left: 10px;
    padding: 10px 0px;
}

#result {
    height: 100%;
}

#result h1 {
    text-align: center;
    font-size: 2em;
    padding: 20px;
}


/* Mobile part */

@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
    and (orientation: portrait)
{
    body {
    }

    #quizbox {
        width: 100%;
        height: 95%;
        padding: 10px;
        line-height: 1.4;
    }

    #curtain {
        width: 95%;
        height: 95%;
    }

    #quizbox img.quizimage {
        height: 150px;
    }

    #quizbox li.question li {
        width: 100%;
    }

    #quizbox input[type="button"],
    #quizbox input[type="submit"] {
        width: 100%;
    }
}

@media only screen
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
    and (orientation: landscape)
{
    body {
        background: rgba(100, 13, 24, 0.96);
    }
    #quizbox {
        width: 100%;
        height: 100%;
        padding: 10px;
        line-height: 1.4;
    }

    #curtain {
        width: 95%;
        height: 95%;
    }

    #quizbox img.quizimage {
        height: 150px;
    }

    #quizbox li.question li {
        width: 50%;
        float: left;
    }

    #quizbox input[type="button"],
    #quizbox input[type="submit"] {
        width: 100%;
    }
}
@charset "UTF-8";

@media screen and (max-device-width: 800px) {
}
